### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [41]:
#Calculate the total number of schools
Total_schools = school_data_complete["school_name"].count()

#Calculate the total number of students
Total_students = school_data_complete["Student ID"].count()

#Calculate the total budget
Total_budget = school_data_complete["budget"].sum()

#Calculate the average math score
Math_score = school_data_complete["math_score"].mean()

#Calculate the average reading score
Reading_score = school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
Passing_math_score = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

#Calculate the percentage of students with a passing reading score (70 or greater)
Passing_reading_score = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]

#Calculate the percentage of students who passed math and reading (% Overall Passing)
Passed_math_percentage = Passing_math_score / float(Total_students) * 100
Passed_reading_percentage = Passing_reading_score / float(Total_students) * 100

#Create a dataframe to hold the above results
District_summary = pd.DataFrame({"Total_schools": [Total_schools], "Total_students" : [Total_students], "Total_budget" : [Total_budget],
                                "Math_score" : [Math_score], "Reading_score" : [Reading_score],
                                "Average math score": [Passing_math_score],
                                "Average reading score": [Passing_reading_score],
                                 "Passed_math_percentage": [Passed_math_percentage],
                                "Passed_reading_percentage":[Passed_reading_percentage]})
District_summary

,Total_schools,Total_students,Total_budget,Math_score,Reading_score,Average math score,Average reading score,Passed_math_percentage,Passed_reading_percentage
0,39170,39170,82932329558,78.985371,81.87784,29370,33610,74.980853,85.805463

## School Summary

In [4]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
#School Name
school_name = school_data_complete.get

#School type
school_type = school_data_complete["type"]

#Total students
total_student = school_data_complete["Student ID"].count()

#Total School Budget
Total_budget = school_data_complete["budget"].sum()

#Per Student Budget
Student_budget = Total_budget / total_student

#Average Math Score
Average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]

#Average Reading Score
Average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

#% Passing Math
School_passing_math = school_data_complete[(school_data_complete["math_score"] >=70)]

#% Passing Reading
School_passing_reading = school_data_complete[(school_data_complete["reading_score"] >=70)]

# % Passing (The percentage of students that passed math and reading.)
passing_rate_math = School_passing_math.groupby(["school_name"]).count()["student_name"] / total_student * 100
passing_rate_reading = School_passing_reading.groupby(["school_name"]).count()["student_name"] / total_student * 100
overall_passing_rate = (passing_rate_math + passing_rate_reading) / 2

#Create a dataframe to hold the above results
School_summary = pd.DataFrame({"School Type": [school_type], 
                               "Total Students" : [total_student], 
                               "Total School Budget" : [Total_budget],
                                "Per Student Budget" : [Student_budget], 
                               "Average Math Score" : [Average_math_score],
                                "Average Reading Score": [Average_reading_score],
                                "% Passing Math": [School_passing_math],
                                 "% Passing Reading": [School_passing_reading],
                                "% Overall Passing Rate":[overall_passing_rate]})
School_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,0 District 1 District 2 D...,39170,82932329558,2.117241e+06,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Student ID student_name gender grad...,Student ID student_name gender grad...,school_name Bailey High School 9.439622 ...

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [28]:
Top_performing_schools = School_summary.sort_values(["% Overall Passing Rate"], ascending=False)
Top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,0 District 1 District 2 D...,39170,82932329558,2.117241e+06,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Student ID student_name gender grad...,Student ID student_name gender grad...,school_name Bailey High School 9.439622 ...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
Bottom_performing_schools = School_summary.sort_values(["% Overall Passing Rate"], ascending=True)
Bottom_performing_schools.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
# Create a pandas series for each grade. Hint: use a conditional statement.
nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each series by school
nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine series into single data frame
Math_scores_by_grade = pd.DataFrame({"9th": nineth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})



Math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [33]:
# Create a pandas series for each grade. Hint: use a conditional statement.
nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group each series by school
nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine series into single data frame
Reading_scores_by_grade = pd.DataFrame({"9th": nineth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})



Reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
# Establish the bins 
bins = [0, 100, 200, 300, 400]
group_names = ["<$100", "$100-200", "$200-300", "$300-400"]

# Categorize the spending based on the bins
School_summary["spend Ranges (Per Student)"] = pd.cut(Student_budget, bins, labels=group_names)

spend_math_scores = School_summary.groupby(["spend Ranges (Per Student)"]).mean()["Average math score"]
spend_reading_scores = School_summary.groupby(["spend Ranges (Per Student)"]).mean()["Average reading score"]
spend_passing_math = School_summary.groupby(["spend Ranges (Per Student)"]).mean()["% Passing Math"]
spend_passing_reading = School_summary.groupby(["spend Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_rate = (spend_passing_math + spend_passing_reading) / 2

# Assemble into data frame
spend_summary = pd.DataFrame({"Average Math Score" : spend_math_scores,
                                 "Average Reading Score": spend_reading_scores,
                                 "% Passing Math": spend_passing_math,
                                 "% Passing Reading": spend_passing_reading,
                                 "% Overall Passing Rate": overall_passing_rate})


# Display results
spend_summary

ValueError: Input array must be 1 dimensional

## Scores by School Size

* Perform the same operations as above, based on school size.

In [38]:

# Establish the bins 
size_bins = [0, 500, 1000, 2000]
group_names = ["Small (<500)", "Medium (500-1000)", "Large (1000-2000)"]

# Categorize the spending based on the bins
School_summary["School Size"] = pd.cut(School_summary["Total Students"], size_bins, labels=group_names)

# Calculate the scores based on bins
bins_math_scores = School_summary.groupby(["School Size"]).mean()["Average Math Score"]
bins_reading_scores = School_summary.groupby(["School Size"]).mean()["Average Reading Score"]
bins_passing_math = School_summary.groupby(["School Size"]).mean()["% Passing Math"]
bins_passing_reading = School_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = (bins_passing_math + bins_passing_reading) / 2

# Assemble into data frame
size_summary = pd.DataFrame({"Average Math Score" : bins_math_scores,
                             "Average Reading Score": bins_reading_scores,
                             "% Passing Math": bins_passing_math,
                             "% Passing Reading": bins_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})


# Display results
bins_summary

KeyError: 'Average Math Score'

## Scores by School Type

* Perform the same operations as above, based on school type

In [47]:

type_math = School_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading = School_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = School_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = School_summary.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_rate = (type_passing_math + type_passing_reading) / 2

# Assemble into data frame
Summary_type = pd.DataFrame({"Average Math Score" : type_math,
                             "Average Reading Score": type_reading,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})


# Display results
Summary_type

C:\Users\ikran\AppData\Local\Temp\ipykernel_105056\3388930897.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  type_math = School_summary.groupby(["School Type"]).mean()["Average Math Score"]

TypeError: unhashable type: 'Series'